<div class="universal-form-wrapper" dir="rtl">
  <div class="app-form">

    <form [formGroup]="reactiveform" (ngSubmit)="onsubmit()">
      <div *ngIf="apiMessage" 
       [ngClass]="{'alert': true, 'success': apiMessageType==='success', 'error': apiMessageType==='error'}"
       style="margin: 0 auto 20px; text-align: center;">
      {{ apiMessage }}
      </div>

      <div class="form-header">
        <i class="bi bi-chat-dots"></i>
        <h3>إضافة تقييم</h3>
      </div>

      <div class="form-group">
        <label for="comment">التعليق</label>
        <input 
          id="comment"
          type="text"
          class="form-control"
          placeholder="اكتب تعليقك"
          formControlName="Comment"
        />

        <div class="error">
          <small *ngIf="Comment?.touched && Comment?.errors?.['required']">
            هذا الحقل مطلوب
          </small>
          <small *ngIf="Comment?.touched && Comment?.errors?.['minlength']">
            يجب أن يكون التعليق 3 أحرف على الأقل
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="rating">التقييم</label>
        <input 
          id="rating"
          type="text"
          class="form-control"
          placeholder="التقييم من 0 إلى 5"
          formControlName="Rating"
        />

        <div class="error">
          <small *ngIf="Rating?.touched && Rating?.errors?.['required']">
            هذا الحقل مطلوب
          </small>
          <small *ngIf="Rating?.touched && Rating?.errors?.['pattern']">
            القيمة يجب أن تكون رقم من 0 إلى 5 فقط
          </small>
        </div>
      </div>

      <button type="submit" class="btn-submit" [disabled]="reactiveform.invalid">إضافة تقييم</button>

    </form>

  </div>
</div>
