<div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<div class="row" *ngIf="!loading">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let order of orders">
        <div class="card mb-3 menu-card h-100">
            <div class="card-header bg-dark text-white">
                <h6 class="card-title mb-0">
                    <strong>معرّف المستخدم:</strong>
                    <span class="ms-2">{{ order.userId }}</span>
                </h6>
            </div>

            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item user-name-header d-flex justify-content-between align-items-center">
                        <strong>اسم المستخدم:</strong>
                        <span>{{ order.username }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center order-status-row">
                        <strong>حالة الطلب:</strong>
<span class="badge bg-danger"
>
  {{'Cancelled'| translation }}
</span>                       
</li>
                    <li class="list-group-item total-price-row d-flex justify-content-between align-items-center">
                      <strong>السعر الإجمالي:</strong>
                        <span>{{ order.totalCancelledPrice }}</span>
                    </li>
                </ul>
            </div>

            <div class="card-footer p-0 border-0">
                <button (click)="getuserorderscancelled(order.userId)" class="btn btn-primary w-100 p-3 get-items-btn">
                    عرض الطلبات الملغية
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="orders.length==0" class="empty-cart">
<h3>لا توجد أى طلبات ملغية حتى الأن</h3>
</div>
