      <div *ngIf="apiMessage" 
       [ngClass]="{'alert': true, 'success': apiMessageType==='success', 'error': apiMessageType==='error'}"
       style="margin: 0 auto 20px; text-align: center;">
      {{ apiMessage }}
      </div>

<div class="search-section w-100 mb-4" *ngIf="tables.length>0">
  <div class="container-fluid">
    <div class="search-box d-flex align-items-center justify-content-center w-100">
      <input
        [(ngModel)]="tablenumber"
        placeholder="ابحث برقم الترابيزة..."
        type="text"
        class="form-control search-input flex-grow-1"
      />
      <button (click)="search(tablenumber)" class="btn btn-primary ms-2 px-4">
        <i class="bi bi-search"></i> بحث
      </button>
    </div>
  </div>
</div>

<div class="text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div class="row g-4" *ngIf="!loading">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let table of tables">
    <div class="card h-100 shadow-sm menu-card">
      <div class="card-header bg-card-header text-white d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">
          رقم الترابيزة {{ table.tableNumber }}
        </h5>
      </div>
      
      <div class="card-body">
        <div class="item-image mb-3">
          <img [src]="environment+'/Images/'+ table.tableImage" alt="{{ table.tableImage }}" class="img-fluid rounded shadow-sm" style="max-height: 180px; object-fit: cover; width: 100%;" />
        </div>
            <div class="d-flex justify-content-between align-items-center detail-item">
            <strong>المكان:</strong>
              {{ table.location|translation }}
          </div>
        <div class="details-section mb-3">
          <div class="d-flex justify-content-between align-items-center detail-item mb-2">
            <strong>السعة:</strong>
            <span class="bg-info text-dark px-3 py-1 rounded-pill fw-bold">
             {{ tables.capacity }}
            </span>
          </div>
         <div class="d-flex justify-content-between align-items-center detail-item">
  <strong>الحالة:</strong>
<span class="badge text-bg-danger fs-8 px-3 py-2 border border-danger border-2 rounded-pill">
{{ table.status === 'Available' ? 'متاحة' : 'غير متاحة' }}
  </span>
</div>
        </div>
      </div>
      <div class="card-footer bg-card-footer">
        <div class="d-flex flex-wrap gap-2 justify-content-end">
          <button (click)="restoretable(table.id)" class="btn btn-sm btn-outline-success flex-grow-1">
            <i class="bi bi-pencil-square"></i> استعادة
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="tables.length==0" class="empty-cart">
<h3>لا توجد أى ترابيزات محذوفة حتى الأن</h3>
</div>
