<div class="login-dark">
  <form [formGroup]="Form" (ngSubmit)="submit()">
    <div *ngIf="apiMessage" 
     [ngClass]="{'alert': true, 'success': apiMessageType==='success', 'error': apiMessageType==='error'}"
     style="margin: 0 auto 20px; text-align: center;">
  {{ apiMessage }}
</div>
    <div class="illustration">
      <i class="icon ion-ios-locked-outline"></i>
    </div>
    <div class="form-group">
      <label>كلمة المرور الحالية</label>
      <input class="form-control" type="password" placeholder="كلمة المرور الحالية" formControlName="CurrentPassword">
      <div *ngIf="currentpassword?.touched && currentpassword?.invalid" class="error">
        <small *ngIf="currentpassword?.errors?.['required']">كلمة المرور الحالية مطلوبة.</small>
        <small *ngIf="currentpassword?.errors?.['minlength']">الحد الأدنى 6 أحرف.</small>
        <small *ngIf="currentpassword?.errors?.['maxlength']">الحد الأقصى 20 حرف.</small>
      </div>
    </div>

    <div class="form-group">
      <label>كلمة المرور الجديدة</label>
      <input class="form-control" type="password" placeholder="كلمة المرور الجديدة" formControlName="NewPassword">
      <div *ngIf="newpassword?.touched && newpassword?.invalid" class="error">
        <small *ngIf="newpassword?.errors?.['required']">كلمة المرور الجديدة مطلوبة.</small>
        <small *ngIf="newpassword?.errors?.['minlength']">الحد الأدنى 6 أحرف.</small>
        <small *ngIf="newpassword?.errors?.['maxlength']">الحد الأقصى 20 حرف.</small>
      </div>
    </div>

    <div class="form-group">
      <label>تأكيد كلمة المرور الجديدة</label>
      <input class="form-control" type="password" placeholder="تأكيد كلمة المرور الجديدة" formControlName="ConfirmPassword">
      <div *ngIf="confirmnewpassword?.touched && (confirmnewpassword?.invalid || Form.errors?.['passwordMismatch'])" class="error">
        <small *ngIf="confirmnewpassword?.errors?.['required']">تأكيد كلمة المرور مطلوب.</small>
        <small *ngIf="Form.errors?.['passwordMismatch']">كلمتا المرور غير متطابقتين.</small>
      </div>
    </div>

    <button class="btn btn-primary btn-block" type="submit" [disabled]="Form.invalid">إعادة التعيين</button>
  </form>
</div>
