<nav>
  <div class="container">
    <h2 class="logo">مطعم الخير🍽️</h2>

    <button class="menu" id="menu" (click)="toggleMenu($event)">
      ☰
    </button>
    
    <div class="contant" id="nav-contant" (click)="$event.stopPropagation()" [class.active]="isMenuOpen" dir="rtl">
      <ul>
        <li *ngIf="!isAuth">
          <button class="btn getcolor" routerLink="login">تسجيل دخول</button>
        </li>
        <li>
          <button class="btn btn-success btn-block" routerLink="home">الرئيسية</button>
        </li>
        <li *ngIf="isAdmin||isAdminAssistant">
          <button class="btn btn-success btn-block" routerLink="dashboard">لوحة الأدمن</button>
        </li>
        <li>
          <button class="btn btn-success btn-block" routerLink="menu">المينيو</button>
        </li>
        <li>
          <button class="btn btn-success btn-block" routerLink="gettables">الترابيزات</button>
        </li>
        <li *ngIf="isAuth">
          <button class="btn btn-success btn-block" routerLink="usercomplaintsandsuggestions">الشكاوى</button>
        </li>
        <li *ngIf="isAuth">
          <button class="btn btn-success btn-block" routerLink="order">الطلبات</button>
        </li>
        <li *ngIf="isAuth">
          <button class="btn btn-success btn-block" routerLink="reservation">الحجوزات</button>
        </li>
        <li *ngIf="isAuth">
          <button class="btn btn-success btn-block cart-btn" routerLink="cart">
            <span class="cart-icon">🛒</span>
          </button>
        </li>
        <li *ngIf="isAuth">
          <button class="btn btn-success btn-block" routerLink="getuserinfo">الملف الشخصى</button>
        </li>
        <li *ngIf="isAuth">
          <button class="btn btn-danger btn-block" (click)="LogOut()">تسجيل خروج</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
