<div class="text-center w-100 my-4" *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div class="row g-4" *ngIf="!loading">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of usercomplaintsandsuggestions">
    <div class="card menu-card h-100">
      
      <div class="card-header">
        <h5 class="card-title mb-0">
          <strong>التاريخ:</strong> {{ item.date| date:'dd/MM/yyyy hh:mm a' }}
        </h5>
      </div>

      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>الشكاوى والمقترحات:</strong>
            <span class="text-wrap text-end">{{ item.problemandsolving }}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
