<div class="text-center w-100 my-4" *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div class="row g-4" *ngIf="!loading">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let reservation of userreservations">
    <div class="card menu-card h-100">
      
      <div class="card-header">
        <h5 class="card-title mb-0 text-center">
          <strong>تاريخ الحجز:</strong> {{ reservation.dateOfReservation }}
        </h5>
      </div>

      <div class="card-body p-0">
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <strong>تاريخ البداية:</strong>
<span>{{ ('1970-01-01T' + reservation.startTime) | date:'hh:mm a' }}</span>
          </li>

          <li class="list-group-item">
            <strong>تاريخ النهاية:</strong>
<span>{{ ('1970-01-01T' + reservation.endTime) | date:'hh:mm a' }}</span>
          </li>

          <li class="list-group-item">
            <strong>عدد الضيوف:</strong>
            <span>{{ reservation.numberOfGuests }}</span>
          </li>

          <li class="list-group-item">
            <strong>رقم الترابيزة:</strong>
            <span>{{ reservation.tableNumber }}</span>
          </li>

          <li class="list-group-item">
            <strong>موقع الترابيزة:</strong>
            <span>{{ reservation.tableLocation|translation }}</span>
          </li>

          <li class="list-group-item">
            <strong>حالة الحجز:</strong>
<span 
  class="badge px-2 py-1 fs-6 border border-2 rounded-pill"
  style="font-size: 0.8rem;"
  [ngClass]="{
    'text-bg-warning border-warning': reservation.status === 'Pending',
    'text-bg-info border-info': reservation.status === 'InProgress',
    'text-bg-success border-success': reservation.status === 'Completed',
    'text-bg-danger border-danger': reservation.status === 'Cancelled'
  }"
>
  {{ reservation.status | translation }}
</span>           </li>
                  <div class="card-footer total-price-row d-flex justify-content-between align-items-center">
                    <strong>مدفوع؟</strong>
                    <span>{{ reservation.isPaid ?'نعم':'لا' }}</span>
                  </div>
        </ul>
      </div>
    </div>
  </div>
</div>
