<div *ngIf="apiMessage" 
 [ngClass]="{'alert': true, 'success': apiMessageType==='success', 'error': apiMessageType==='error'}"
 style="margin: 0 auto 20px; text-align: center;">
{{ apiMessage }}
</div>
<div class="top-buttons-container d-grid gap-3 mb-4" *ngIf="complaintsandsuggestions.length > 0">
  <button (click)="add()" class="btn btn-success top-btn">
    <i class="bi bi-arrow-clockwise"></i> إضافة شكوى
  </button>
</div>
<div class="top-buttons-container d-grid gap-3 mb-4" *ngIf="deletedcomplaintsandsuggestions.length > 0">
<button (click)="getalldeletedcomplaintsandsuggestions()" class="btn btn-warning top-btn">
  <i class="bi bi-x-octagon"></i> إسترجاع شكوى محذوفة
</button>
</div>
<div class="text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div class="complaints-list" *ngIf="!loading">
  <div class="complaint-row" *ngFor="let cas of complaintsandsuggestions">
    <span class="comp-id">{{ cas.id }}</span>
    <span class="comp-text">{{ cas.date| date:'dd/MM/yyyy hh:mm a'  }}</span>
    <span class="comp-text">{{ cas.problemandsolving }}</span>
    <div class="row-actions">
      <button class="btn btn-danger" (click)="delete(cas.id)">حذف</button>
      <button class="btn btn-primary" (click)="update(cas.id)">تعديل</button>
    </div>
  </div>
</div>

<div *ngIf="complaintsandsuggestions.length == 0" class="empty-cart">
  <h3>لا توجد أى شكاوى حتى الأن</h3>
  <div>
    <button (click)="add()">أضف الأن</button>
  </div>
</div>
