<div class="universal-form-wrapper">
  <div class="app-form">
    <form [formGroup]="formgroup" (ngSubmit)="submit()">
      <div *ngIf="apiMessage" 
       [ngClass]="{'alert': true, 'success': apiMessageType==='success', 'error': apiMessageType==='error'}"
       style="margin: 0 auto 20px; text-align: center;">
      {{ apiMessage }}
      </div>

      <div class="form-header">
        <i class="bi bi-chat-dots"></i>
        <h3>تحديث عنصر القائمة</h3>
      </div>

      <div class="form-group">
        <label for="ItemName">اسم الصنف</label>
        <input 
          id="ItemName" 
          type="text" 
          class="form-control" 
          placeholder="أدخل اسم الصنف" 
          formControlName="ItemName"
        />
        <div *ngIf="ItemName?.touched && ItemName?.invalid" class="error">
          <small *ngIf="ItemName?.errors?.['pattern']">يسمح فقط بالحروف.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="ItemImage">صورة الصنف</label>
        <input
          id="ItemImage"
          type="file"
          class="form-control" 
          formControlName="ItemImage"
          (change)="onFileSelected($event)"
        />
      </div>

      <div class="form-group">
        <label for="Price">السعر</label>
        <input 
          id="Price" 
          type="number" 
          class="form-control" 
          placeholder="أدخل السعر" 
          formControlName="Price"
        />
        <div *ngIf="Price?.touched && Price?.invalid" class="error">
          <small *ngIf="Price?.errors?.['pattern']">يسمح فقط بالأرقام.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="Quantity">الكمية</label>
        <input 
          id="Quantity" 
          type="number" 
          class="form-control" 
          placeholder="أدخل الكمية" 
          formControlName="Quantity"
        />
        <div *ngIf="Quantity?.touched && Quantity?.invalid" class="error">
          <small *ngIf="Quantity?.errors?.['pattern']">يسمح فقط بالأرقام.</small>
        </div>
      </div>

      <button type="submit" class="btn-submit">تحديث عنصر القائمة</button>

    </form>
  </div>
</div>
