html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;   
  overflow-y: auto;  
}
app-root {
  width: 100%;
  min-height: 100dvh;  
  display: block;
}
@media (max-width: 768px) {

  .empty-cart {
    margin: 0 auto !important;
    margin-top: 38% !important;
    max-width: 90% !important;
    padding: 25px 15px;
  }
}
