html, body {
  height: 100%;
  overflow-y: hidden;
}

app-root {
  min-height: 100dvh;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .empty-cart {
    margin: 0 auto !important;
    margin-top: 38% !important;
    max-width: 90% !important;
    padding: 25px 15px;
  }
}
