html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;  
  overflow-y: scroll; 
}
app-root {
  width: 100%;
  height: 100%;
  display: block;
}
@media (max-width: 768px) {

  .empty-cart {
    margin: 0 auto !important;
    margin-top: 35% !important;
    max-width: 90% !important;
    padding: 25px 15px;
  }
}
